 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Member System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
 </head>
 <body>
    <div class="content">
        <h2>Sign in to MemberSystem</h2>
        <div class="container borderradius border1">
            <form action="/signin" method="POST">
                <label>Email address</label>
                <input type="email" name="email" autocomplete="off" required/>
                <label>Password</label>
                <input type="password" name="password" required/>
                <button type="submit">SIGN IN</button>
            </form>
        </div>
        <div class="borderradius cont2 border2">
            <p>New Here?</p>
            <a href="/signup">Create an account</a>
        </div>
    </div>

    <div class="footer">
        <p>Copyright © 2024 Yvonne Yu. All rights reserved.</p>
    </div>
    
 </body>
 </html>