<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Sign Up Member System</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    <div class="content">
        <h2>Create an account</h2>
        <div class="container">
            <form action="/signupReady" method="POST">
                <label>Email address</label>
                <input type="email" name="email" autocomplete="off" required/>
                <label>Password</label>
                <input type="password" name="password" required/>
                <button type="submit">SIGN UP</button>
            </form>
            <hr>
            <div class="cont2">
                    <p>Already have an account？</p>
                    <a href="/">SIGN IN</a>
            </div>
        </div>
    </div>

   <div class="footer">
       <p>Copyright © 2024 Yvonne Yu. All rights reserved.</p>
   </div>
   
</body>
</html>